@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  font-family: "Roboto", sans-serif;
  --background-color: #f0f5ff;
  --box-shadow: rgba(0, 0, 0, 0.075);
  --border-color: #c6c6c6;
  --white-color: #fff;
  --hover-color: rgba(229, 19, 58, 0.5);
  --icon-color: #3d55dd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  padding-top: 9.6rem;
  color: #1a1a1a;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
